<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <div class="panel panel-default" ng-repeat='exam in exams.data'>
                <div class="panel-heading">
                    <h3 class="panel-title">{{exam.stem}}</h3>
                </div>
                <div class="panel-body">
                    <div class="radio">
                        <div ng-repeat='option in exam.options'>
                            <label><input type="radio" name="optionsRadios" id="optionsRadios2"
                                          value="option2">{{option}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    Basic panel example
                </div>
            </div>
        </div>
    </div>

</div>

